node_modules
.husky
.eslintignore
.prettierignore
/MMM-CabinStats.js
/node_helper.js
/src/types/api.generated.ts
/openapi
*.map
*.njk
*.png
coverage
.gitignore

playwright-report
test-results
MagicMirror
